@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* 
@keyframes moveLeftRight {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0px);
  }
}

.animate-move {
  animation: moveLeftRight 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 5s ease-in-out infinite;
}


@keyframes floatSoft {
  0% {
    transform: translateY(0px) translateX(0px) rotate(var(--rotate));
  }

  25% {
    transform: translateY(-6px) translateX(3px) rotate(var(--rotate));
  }

  50% {
    transform: translateY(-10px) translateX(-3px) rotate(var(--rotate));
  }

  75% {
    transform: translateY(-6px) translateX(2px) rotate(var(--rotate));
  }

  100% {
    transform: translateY(0px) translateX(0px) rotate(var(--rotate));
  }
}

.float-soft {
  animation: floatSoft var(--duration) ease-in-out infinite;
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0px);
  }
}

.animate-move {
  animation: moveLeftRight 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px) rotate(var(--tw-rotate));
  }

  50% {
    transform: translateY(-10px) rotate(var(--tw-rotate));
  }

  100% {
    transform: translateY(0px) rotate(var(--tw-rotate));
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}


@keyframes floatX {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}

.animate-float-x {
  animation: floatX 4s ease-in-out infinite;
}

@keyframes moveLeftToRight {
  0% {
    transform: translateX(-40px);
  }

  100% {
    transform: translateX(40px);
  }
} */